#root {
  
  margin: 0 auto;
 
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  font-size: 10vh;
  background: linear-gradient(45deg, #cd7ccf, #3a0e66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  position: sticky;
}

body {
  background-color: #eacceb;
}

.submit {
  font-family: "Protest Guerrilla", sans-serif;
  background-color: #b2b0b3;
  color: #4e4e4e;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

.submit:hover {
  background-color: #e788e9;
  color: #3a0e66;
  border-color: #5a189b;
}

form {
  height: 700px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 55vh;
}

form input {
  width: 90%;
  height: 5vh;
  margin-bottom: 4%;
  border-radius: 15px;
}

.container {
  max-width: 80%;
}

.cssbuttons-io {
  position: absolute;
  font-family: inherit;
  margin: 3%;
  margin-top: 1.5%;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.9em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.5em 1em 0.5em 1.0em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');